.style-list{
    list-style-type: none;
}
.widget-head{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0px 5px 0px;
    padding: 2px;
}
.widget-area{
    margin-left: 50px;
    margin-right: 50px;
}
.ordering{
    margin-left: 300px;
}
.number-of-item{
    margin-left: 100px;
}